
* {
    box-sizing: border-box;
    margin:0 auto;
    padding: 0%;
    border:0;
}

body {
    font-family: 'Poppins', sans-serif;  
}

html {scroll-behavior: smooth;}

#cien {
    background-color: gainsboro;
    display: flex;
    align-items: center;
}


.navegador {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;  
    max-width: 1200px;
    text-align: center;
    margin: 0 auto;
}

#hamburguesa {display:none;}

#barra {
    display: flex;
    list-style: none;
    margin:0;
    flex-direction: row;
    flex-wrap: wrap;
    
}

.lis {
    padding: 0.3em 1em;
    text-decoration: none;
    margin: 0;
}



.menu {
    text-decoration: none;
    color: #191832;
    font-weight: 600;
    text-transform: uppercase;
    transition: color 0.3s;
}

.menu:hover {
    color: #C2241F;
}

#call {
    color:#C2241F;
    transition: color 0.3s linear;
    text-decoration: none;
    font-weight: 600;
    text-transform: uppercase;
}

#call:hover {
    color:#75160E;
}

#logo {
    padding: 20px;
    padding-left: 60px;
}

.Hero-Unit {
    background:  #000 url(recursos/unithero.gif) no-repeat center top;
    background-size:cover;
    padding-bottom: 250px;
    color: white;
}

.texto-unit {
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding-top:250px;
    }

.imaRazon {display: flex;}

#titulo-unit {
    font-size: 150px;
    line-height : 120px;
    text-shadow: 0 1px 10px rgb(0 0 0 / 30%), 0 1px 2px rgb(0 0 0 / 35%);
    color:red;
    animation-duration: 1s;
    animation-name: hola;
    font-weight: 800;
}

@keyframes hola {from 
    {   
        opacity: 10%;
        transform: scale(0.5);
        
 
}

to {
    transform: scale(1);
    opacity: 100%;
    
 
}
}

.modelo {
    font-size: 3em;
    font-variant: small-caps;
    font-weight: 600;
    color:#C2241F;
}

#segundo {color:#C2241F}

#camiones {
    color: white;
    text-align: center;
    padding: 1em;
    font-size: 30px;
}

#bootstrap {
    background-color:#75160E;
    height: 55vw;
}


#carouselExampleCaptions{width:70%;}

h1 {font-weight: 800;}

#subtitulo-unit {
    font-size: 50px;
    padding-bottom: 50px;
    font-weight: 600;
    }

#boton-2 {
    position: relative;
    color:#2A3071;
    text-decoration: none;
    border:white 4px solid;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    text-transform: uppercase;
    font-size: 20px;
    background-color: white;
    transition: color 0.5s, background 0.5s;
    border-radius: 30px;
    font-weight: bold;
}

#boton-2:hover {
    color: #C2241F;
    background-color: rgba(255, 255, 255, 0.521);
}

#cuatro {
    background-color: gainsboro;
    padding-bottom: 100px;
}

.razones {
    display:flex;
    justify-content: space-around;
    max-width: 1200px;
    flex-direction: column;
}

.razon {
    width: 50%;
    height: 27em;
    background-color: white;
    margin: 25px;
    border-radius: 15px;
    align-items: center;
    padding: 20px;
    box-shadow: 0 1px 10px rgb(0 0 0 / 10%), 0 1px 2px rgb(0 0 0 / 15%);
    position: relative;
    top: 0;
    transition: top ease 0.5s;
}

.razon:hover {
    top: -10px;
}


.step {top: 0;
    position: relative;
    transition: top ease 0.5s;}

.step:hover {top: -10px}


.parrafo-bene {
    font-weight: light;
    text-align: center;
}

.sub-razones {
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 20px;
    color:#191832;
    font-size: 1.5em;
    font-weight: 600;
}

figure {
    align-items: center;
}

#parrafo {
    max-width: 1200px;
    text-align: center;
    padding: 2em
}

#titulo-razon {
    text-align: center;
    font-size: 30px;
    padding-top: 40px;
    color: #75160E;
}

#parrafo-nos {
    max-width: 400px;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;
    line-height: 1.8em;
    background-attachment: fixed;
    padding: 0 2em;
}

#contenedor-nos {
    display:flex;

    background-color:#191832;
}




#nos {
    padding-top: 6em;
    height: 43em;
}

#imagen {
    background:  #000 url(recursos/camionrojo.jpg) no-repeat center top;
    width: 50%;
    margin: 0;
}

#titulo-nos {
    color: #C2241F;
    font-size: 30px;
    padding-bottom: 10px;
    text-align: center;
}

#sec-cuatro {
    background-color: #75160E;
}

#sec-frase {
    background-color:#75160E;
    height: 25em;
    color: white;
}

#frase {
    font-size: 60px;
    text-align: center;
    color: white;
    transition: color .4s ease;
    font-weight: 600;
}

#cont-frase {
    padding-top:5em;
}

#sect-pasos {
    background-color: gainsboro;
    height: 450px;
}

#cont-pasos {
    display: flex;
    max-width: 1200px;
    justify-content: space-around;
}

#titulo-pasos {
    text-align: center;
    padding: 30px;
    font-size: 30px;
    color:#75160E;
}



.subtitulo-pasos {
    text-align: center;
    font-weight: 600;
    color:#0e0c27;
    font-size: 1.5em;
    margin-top: 1em;
}

label {
    font-size: 1em;
    font-weight: 500;
}

#h4 {font-weight: 600;}

#ultima-sec {
    background-color:#191832;

    margin:0;
}

#imagen-dos {
    background:  #000 url(recursos/camion2.jpg) no-repeat center top;
    width: 90%;
    height: 700px;
    box-shadow: 0 1px 10px rgb(0 0 0 / 10%), 0 1px 2px rgb(0 0 0 / 15%);
    margin:0;
}

#contenedor-last {
    display: flex;
}

#cont-text-last {
    padding-top: 4em;
    width:90%;
}

#parrafo-last {
    max-width: 400px;
    color: white;
    text-align: center;
    line-height: 1.8em;
    padding: 0 2em
}

#sub-last {
    font-size: 30px;
    color:#C2241F;
    text-align: center;
    padding-bottom: 10px;
}

footer {
    background-color:#0e0c27;
    padding-bottom: 40px;
    padding-top: 20px;
}

.logo-footer{
    justify-content: center;
    text-align: center;
    padding: 20px;
}

.hola {
    display: flex;

    align-items: center;
}

.texto-footer {
    color: white;
    text-align: center;
    padding-bottom: 20px;
}

.contenedor-QYA {

    width: 80%;
    padding: 40px;
    background-color: gainsboro;
    display: block;
    flex-direction: column;
    gap: 2em;
    box-shadow: 0 1px 10px rgb(0 0 0 / 20%), 0 1px 2px rgb(0 0 0 / 30%);
    padding-top:30px;
    border-radius: 10px;
}

summary{
    background-color:white;
    box-shadow: 1px, 1px, 10px, gray;
    box-shadow: 0 1px 10px rgb(0 0 0 / 10%), 0 1px 2px rgb(0 0 0 / 15%);
    color:#75160E;
    margin: 1em;
    padding: 1em;
    list-style: none;
    cursor:pointer;
    font-weight: 700;
    border-radius: 10px;
}

.parrafo-pre {
    color:#191832;
    padding-left: 25px;
}

.margen {font-weight: 600}

.abono {font-size: 1.2em;}


#QYA {
    background-color: gainsboro;
    height: 650px;
    padding-top: 40px;
    max-width: 100vw;
}

.preguntas {
    color:#75160E;
    font-size: 30px;
    text-align: center;
    padding-bottom: 30px;
}


#formulario {
    height: 100em;
    background-color:#191832;
    color: white;
    padding-top: 0.5em
}

.contacto1 {width: 100%;
    margin:auto;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.radio {
    display:flex;
    padding: 20px 0px;
}


h4 {font-variant: small-caps;
    font-size: 25px;
    padding-bottom: 15px;
    color:#C2241F;}

    

.formulario {
    width: 40%;
    background-color:#0e0c27;
    margin:auto;
    border-radius: 4px;
    line-height: 2.5em;
    color:white;
    padding: 30px;
    box-shadow: 0 1px 10px rgb(0 0 0 / 10%), 0 1px 2px rgb(0 0 0 / 15%);
}

.form {
    width:100%;
    background-color: gainsboro;
    padding:10px;
    border-radius: 4px;
    margin-bottom:15px;
    color:#191832;
    font-size: 15px;
    font-family: 'poppins';
    box-shadow: 20 20px 10px black;
}

.cotiza {
    color:#C2241F;
    font-size: 30px;
}


.bot {
    margin: auto;
    display: flex;
    width: 13vw;
    position: relative;
    text-align: center;
    justify-content: center;
    color:white;
    text-decoration: none;
    cursor:pointer;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    text-transform: uppercase;
    font-size: 15px;
    background-color:#75160E;
    transition: color 0.5s, background 0.5s;
    border-radius: 30px;
    font-weight: bold;
    margin-left: 8.5em;
    margin-top: 2em;
    margin-bottom: 2em;
}

.bot:hover {
    color: #C2241F;
    background-color: rgb(255, 255, 255);
}

.Contactanos-columnas1 {
    display:flex;
    padding-top: 75px;
}

.contacto {list-style: none;}

.white {font-size: 1.3em;}

.red {
    font-size: 1.2em;
    color:red;
    font-weight: 500;
}

.datosper {
    text-align: center;
    color:white;
    font-size: 1em;
}

#icon {
    font-size: 2em;
    margin:0.8em;
}

.fa-brands {margin: 0.5em;
color:#C2241F}


@media screen and (max-width:778px) and (min-width: 530px) {

#menu {
    margin:0;
    max-width: 70%;
}

#bootstrap {height: 65vw;}

.modelo {
    font-size: 1.5em;
    text-align: end;
}

#segundo {text-align: start}

#formulario {
    max-width: 100%;
    height: 100em;
}



.lis {padding-left: 2em;}

#question {padding-left: 0.5em;}

#barra {
    max-width: 100%;
    margin-right: 3em;
    text-align: center;
}

.formulario {width: 60%;}

.bot {width: 40vw;}

.white {font-size: 1.1em;}

.red {font-size: 1em;}

nav{
    max-width: 100%;
}


#logo {
    margin: 1em;
}

header {
    max-width: 100%;
}
.preguntas {font-size: 1.5em;}

.razones {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-left:4%
}

.razon {
    width: 50%;
    height: 30em;
    text-align: center;
}

.parrafo-bene{
    text-align: center;
}

#parrafo{margin: 1em 2em;}

#titulo-unit {font-size: 8em;}

#subtitulo-unit{font-size: 3em;}

#titulo-razon{padding-top:1em;}

.texto-unit {padding-top: 10em;}

img{align-items: center;}

.img_razones{display: flex;}


.hola {
    display: flex;
    text-align: center;
    flex-direction: column;
}

figure{
    align-items: center;
    text-align: center;
}

.subtitulo-pasos {
    padding-top: 0.3em;
    font-size: 1.3em;}


#frase {
    padding: 0.5em;
    font-size: 3em;
}

#sec-frase {height: 19em}

#cont-frase {padding-top:1em;}

.contenedor-QYA {width:85%;}

.bot {margin-left: 3em;}


#block {
    display:block;
    margin-right:2.5em;
}

#imagen {
    background:  #000 url(recursos/camionuevo.png) no-repeat center top;
    width: 50%;
}

#contenedor-nos{height: 30em;
display: block;}

#contenedor-last {
    display: block;}

#nos{padding-top: 4em;}

#parrafo-nos {
    font-size: 0.9em;
    
}

#imagen-dos {
    background:  #000 url(recursos/camionTablet.png) no-repeat center top;
    height: 80vw;
    width: 100%;
}



#parrafo-last {
    padding-bottom: 5em;
    font-size: 0.9em;
}

.Contactanos-columnas1 {
    display: block;
    padding: 3em 0;
    text-align: center
}


#titulo-nos {font-size: 1.9em;}

#cont-text-last{padding-top: 7vw;
    padding-bottom: 1em}

#QYA {max-width: 100%;}
}

@media screen and (max-width:529px) {

    .cotiza{font-size: 1.5em;}

    #sub-last {font-size: 1.5em;}

    .preguntas {font-size: 1.5em;}




#contenedor-nos {
    height: 66em;
    }

#bootstrap {
display:none;
}

.logo {margin-right: 1em;}

#hamburguesa li {
    list-style: none;
    text-indent: -100px;
    overflow: hidden;
    margin-top: .70em;
    width: 2.5em;
    align-items: left;
    justify-content: left;
    max-width: 100%;
}

#hamburguesa li a {
    background: url(recursos/menuhamburguesa.png) no-repeat center center;
    height: 2.5em;
    display: block;
    align-items: left;
    justify-content: left;
}

#barra {
    display: none;
    width: 100%;
    height:  85vw;
    position: absolute;
    top: 7em;
    left: 0;
    background-color:#0e0c27;
    justify-content: center;
    align-items: center;
}

#barra li {
    list-style: none;
    margin: 2em;
    display:flex;
    width: 80%;
    align-items: center;
    justify-content: center;
    max-width: 100%;
}

#barra li a {
    font-size: 1.2em;
    text-align: center;
    align-items: center;
    color: white
}

#barra li a:hover {color:#C2241F}


#titulo-razon{font-size: 1.5em;}

nav:target #barra {
    
    height: 25em;
    padding: 0; 
    display: flex;
}

nav:target #hamburguesa li:first-child {
    display: none;
}

nav:target #hamburguesa li:last-child {
    display: block;
}

#hamburguesa {display: inline;
    margin-left: 20px;
    margin-top: 30px;
    text-align: center;
    justify-content: center;
    max-width: 100%;
}

nav {
    position: absolute;
    top: 0;
    left:0;
    max-width: 425px;
}

#menu {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    max-width: 100%;
}


.navegador {max-width: 425px;}

#hamburguesa li:last-child {display: none;}

#barra {
    display: none;
    justify-content: center;
    align-items: center;
    padding-left: 10em;
}

#formulario {
    height: 100em;
    
} 


.abono {
    font-size: 1em;
    padding-top: 0.5em;
}

.Contactanos-columnas1 {
    display:block;
    text-align: center;
    margin-right: 2em;
}

.bot {
    width: 40vw;
    margin-left: 3.5em;
}

.white {font-size: 1.2em;}

.red {
    font-size: 1em;
    margin-bottom: 1.3em;
}


.formulario {
    width: 80vw;
    font-size: 0.9em;
}  

.contacto1 {width: 90%;} 

nav {width: 100%;}

#titulo-unit {font-size: 6em;}

#subtitulo-unit{font-size: 1.5em;}

.lis{
    padding: 0.2em;
    font-size: 0.8em;
}

nav {display: block;}

.Hero-Unit{
    width: 100%;
    height: 140vw;
    padding-bottom: 0;
}

.texto-unit {padding-top: 11em;}

#logo {display: block;}

#cien {
    background-color: gainsboro;
    display: flex;
}

#cuatro {
    max-width: 100%;
    justify-content: center;
    text-align: center;
    align-items: center;
}


.hola {
    display: block;
    justify-content: center;
}

.razon {
    display: block;
    justify-content: center; 
    width: 17em;
    height: 30em;
    
}

#parrafo {padding:1em;}

.razones {

    justify-content: center;
    
}

#nosotros {max-width: 100%;}

#parrafo-nos {width: 80%;}

#imagen {width: 0%;}

#sec-frase {
    max-width: 100%;
    height: 15em;
}

#frase {font-size: 2em;
padding: 1em;}

#cont-frase{
    height: 10em;
    display: flex;
    align-items: center;
}

#cont-pasos{padding-left: 0.4em;
display: block;
text-align: center;}

.subtitulo-pasos {font-size: 1.3em;}

#titulo-pasos{
    font-size: 1.5em;
    padding-bottom: 1em;
}

#sect-pasos {height: 50em;
}

#imagen-dos{width: 0%;}

#ultima-sec {
    max-width: 100%;

}

#QYA { 
    max-width: 100%;
    height: 48em;
}


#parrafo-last {width: 80vw;}


.contenedor-QYA{max-width: 80%;}

#logocamion {
    width:10em;
    height:9em;
    background: url(recursos/camionlogo-02-02-02-02.png) no-repeat center top; 
}



#nos {padding-top: 20vw;}

#logo-brujula {
    width: 30vh;
    height: 30vh;
    background: url(recursos/brujula-03.png) no-repeat center top;
}
#titulo-nos{font-size: 1.5em}
#cont-text-last {padding-top: 20vw;
}

.contenedor-QYA {padding: 1em;}

summary {font-size: 0.9em;}

.parrafo-pre {font-size: 0.9em;}

#boton-2 {
    padding: 0.5em;
    font-size: 1em;
}

}




